:root {
    --color-primary: #ff7b61;
    --color-primary-light: #ff8972;
    --color-primary-dark: #ff5f3f;
    --bg-primary: #22262f;
    --bg-secondary: #262c38;
  
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
  
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
}