:root {
    --color-primary: #ff7b61;
    --color-primary-light: #f7694d;
    --color-primary-light-2: #fec2b6;
    --color-primary-dark: #ff512e;

    --bg-primary: #22262f;
    --bg-secondary: #262c38;
    --bg-secondary-2: #31353e;

    --box-shadow: 4px 3px 10px -2px #010101;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
  
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --text-color: #b2becd;
}