@import "./sass/main.scss";

.App {
  display: grid;
  background-color: var(--bg-secondary);
  grid-template-columns: 1fr 5fr;
  column-gap: 0rem;
  height: 100vh;
  // overflow: hidden;
  position: relative;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

::-moz-selection {
  background: var(--color-grey-dark-2);
}

::selection {
  background: var(--color-grey-dark-2);
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var  (--bg-secondary);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-dark);
}
